# DATABASE
DATABASE_URL=

# SECURITY
ULTRA_SECRET_KEY=VINZX_OMEGA_2026
EXTERNAL_OVERRIDE_CODE=Hi, 3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a85a,

# ENVIRONMENT
NODE_ENV=development

# AI API KEYS
DEEPSEEK_API_KEY=
GEMINI_API_KEY=
